/*
  Name: Mason Guiste
  Date: 6/13/20

  The css rules for the post log in page.
*/

header {
  display: flex;
  justify-content: space-around;
}

#equipment {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#equipment > div {
  border: 1px black solid;
  margin: 3px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#equipment > div > p {
  text-align: center;
}

.selected {
  background-color: greenyellow;
}
