/*
  Name: Mason Guiste
  Date: 6/13/20

  The css rules for the post log in page.
*/

header {
  display: flex;
  justify-content: space-around;
}

main {
  margin: 2vw;
}

/* ---------- EQUIPMENT ---------- */
#equipment {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#equipment > div {
  border: 1px black solid;
  margin: 3px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#equipment > div > p {
  text-align: center;
}

#equipment .selected {
  background-color: greenyellow;
}

/* ---------- WORKOUT ---------- */
#workout {
  padding: 10px;
  background-color: lightgray;
}

#workout > h3 {
  margin: 0;
}

#workout > p {
  font-size: large;
}

#movements {
  display: flex;
  flex-direction: column;
}

#movements > div {
  display: flex;
  justify-content: space-between;
}

#movements > div > code {
  margin: 0;
  flex-grow: 0;
  font-size: x-large;
}
